*{
    margin:0;
    padding: 0;
    
}
.logo{
    height: 50px;
    width: 100px;
 
    
    
}
.seperator{
    font-size: 20px;
    margin: 0px 10px;
    font-weight: bolder;
}

.arkaplan{
    
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6) ), url(images/arkaplan.jpg);
    height: 280vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-bg{
    background-color: rgba(85,85,85,0.493);
}
.nav-item a{
    color:#ffff;
    font-size: 20px;
    font-weight: bold;

}
@media screen and (max-width:992px){ /*genişliği 992 pixelden küçük olursa(medium cihaz ve daha küçük cihazlarda) ayrcaın gorunmemesini istiyorum*/
    .seperator{
        display: none;
    }
    .nav-item:hover{
        background-color: rgba(53, 8, 8, 0.082);

    }
    .arkaplan{
        background-image: url(images/arkaplan.jpg);
    height: 500vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    
}
.card-bilgi{
    background-color:rgb(18, 18, 28) ;
}
.card-yazi{
    color: white;
    
}
.card img {
    border-radius: 50%;
}
.h-10 {
    height: 20% !important;
  }
.w-10 {
    width: 20% !important;
}
.card {
    background-color: inherit; /* Kartın arka planını sitenin arka planına eşitle */
    background-image: inherit;
}
.font-ayar{
    font-family: sans-serif;
    transition: 0.5s;
}
.hakkimda{
    transition: 0.5s;
}

.card img{
    transition: 0.5s;
}
.card img:hover{
    transform: scale(0.9);
}
.hakkimda:hover{
    transform: scale(0.9);
}
h1{
    font-size: 120px;
}
.card-ayar{
    background-color: rgba(0, 0, 0, 0.74);
}
.hakkimda-border{
    border-radius: 0% !important;
}
.hakkimda-boyut{
    height: 200px;
}
/*Özgeçmiş Kısmı Başlangıç*/


.ozgecmis{
    margin-top: 47px !important;
}
.ozgecmis-card{
    background-color: rgba(0, 0, 0, 0.74);
    height: 100vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
.egitim{
    padding-bottom: 50px;
    margin: 50px;
    padding-left: 0%;
    
}
.Beceriler{
    margin:50px;
    padding-left: 0%;
    padding-bottom: 50px;
}
.Diller{
    margin:50px;
    padding-left: 0%;
    padding-bottom: 85px;
}
.cv-hakkimda{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding:50px;
}
.cv-hakkimda p{
    letter-spacing: 2px;
}
.deneyim{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding: 50px;
}
.referans{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding: 50px;
}
.deneyim p{
    letter-spacing: 2px;
    margin-bottom: 100px;
    padding-bottom :150px; 
}
.referans p{
    letter-spacing: 2px;
    margin-bottom: 100px;
    padding-bottom :150px; 
}
.cv-img img{
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 50%;
    
    
   
}
.bolum li{
    display: inline-block;
    
    justify-content: space-between;
    margin: 100px;
}
.bolum{
    height:350px;
}
@media screen and (max-width:992px){ /*genişliği 992 pixelden küçük olursa(medium cihaz ve daha küçük cihazlarda) ayrcaın gorunmemesini istiyorum*/
    .ozgecmis-card{
        background-color: rgba(0, 0, 0, 0.74);
        height: 150vh;
        width: 100%;
        
        background-size: cover;
        background-position: center center  ;
        background-repeat: no-repeat;
        background-attachment: scroll;
        
    }
    
}
/*Özgeçmiş Kısmı Bitiş*/