*{
    margin:0;
    padding: 0;
    
}
body{
    padding-top: 46px;
}
.logo{
    height: 50px;
    width: 100px;
 
    
    
}
.seperator{
    font-size: 20px;
    margin: 0px 10px;
    font-weight: bolder;
}

.ust-kisim{
    
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6) ), url(images/arkaplan.jpg);
    
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-bg{
    background-color: rgba(85,85,85,0.493);
    
    width: 100%;
}
.nav-item a{
    color:#ffff;
    font-size: 20px;
    font-weight: bold;

}
@media screen and (max-width:992px){ /*genişliği 992 pixelden küçük olursa(medium cihaz ve daha küçük cihazlarda) ayrcaın gorunmemesini istiyorum*/
    .seperator{
        display: none;
    }
    .nav-item:hover{
        background-color: rgba(53, 8, 8, 0.082);

    }
    .ust-kisim{
        background-image: url(images/arkaplan.jpg);
    height: 800vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
    .navbar-bg{
        background-color: rgba(85,85,85,0.493);
        height:95px;
        width: 100%;
    }
    
}
.card-bilgi{
    background-color:rgb(18, 18, 28) ;
}
.card-yazi{
    color: white;
    
}
.hakkimda img{
    border-radius: 50%;
}
.h-10 {
    height: 20% !important;
  }
.w-10 {
    width: 20% !important;
}
.card {
    background-color: inherit; /* Kartın arka planını sitenin arka planına eşitle */
    background-image: inherit;
}
.font-ayar{
    font-family: sans-serif;
    transition: 0.5s;
}
.hakkimda{
    transition: 0.5s;
    
}

.card img{
    transition: 0.5s;
}
.card img:hover{
    transform: scale(0.9);
}
.hakkimda:hover{
    transform: scale(0.9);
}
h1{
    font-size: 120px;
}
.card-ayar{
    background-color: rgba(0, 0, 0, 0.734);
    margin-top: 50px;
}
.hakkimda-border{
    border-radius: 0% !important;
}
.hakkimda-boyut{
    height: 200px;
}



/*ANASAYFA-HAKKIMDA KISMI BİTİŞ*/


/*Özgeçmiş Kısmı Başlangıç*/


.ozgecmis{
    margin-top: 47px !important;
}
.ozgecmis-card{
    background-color: rgba(0, 0, 0, 0.74);
    height: 100vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
.egitim{
    padding-bottom: 50px;
    margin: 50px;
    padding-left: 0%;
    
}
.Beceriler{
    margin:50px;
    padding-left: 0%;
    padding-bottom: 50px;
}
.Diller{
    margin:50px;
    padding-left: 0%;
    padding-bottom: 85px;
}
.cv-hakkimda{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding:50px;
}
.cv-hakkimda p{
    letter-spacing: 2px;
}
.deneyim{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding: 50px;
}
.referans{
    margin-left:50px;
    padding-left: 0%;
    padding-bottom: 50px;
    padding: 50px;
}
.deneyim p{
    letter-spacing: 2px;
    margin-bottom: 100px;
    padding-bottom :150px; 
}
.referans p{
    letter-spacing: 2px;
    margin-bottom: 100px;
    padding-bottom :150px; 
}
.cv-img img{
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 50%;
    
    
   
}
.bolum li{
    display: inline-block;
    
    justify-content: space-between;
    margin: 100px;
}
.bolum{
    height:350px;
}
@media screen and (max-width:992px){ /*genişliği 992 pixelden küçük olursa(medium cihaz ve daha küçük cihazlarda) ayrcaın gorunmemesini istiyorum*/
    .ozgecmis-card{
        background-color: rgba(0, 0, 0, 0.74);
        height: 150vh;
        width: 100%;
        
        background-size: cover;
        background-position: center center  ;
        background-repeat: no-repeat;
        background-attachment: scroll;
        
    }
    
}
/*Özgeçmiş Kısmı Bitiş*/

/*şehrim kısmı başlangıç*/
.foto-slider-height{
    height:500px;
}
.slider-width{
    width: 800px;
}
.sehrim-kismi{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6) ), url(images/masal-satosujpg.jpg);
    height: 1000vh;
    width: 100%;
    margin-top: 65px !important;
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.yazi{
    border:none;
}
.sehrim-hakkinda h2{
    color: burlywood;
}

.cizgi{
    border:none;
    border-top:3px solid rgb(255, 0, 0);
    max-width: 1000px;
    margin: 25px auto;

}
.cizgi-buyuk{
    border:none;
    border-top:3px solid rgb(255, 0, 0);
    width: auto;
    margin: 25px auto;

}
.ibeyaz{
    color: rgb(255, 0, 0);
    position: relative;
    top: -55px;
    left: 630px;
    font-size: 40px;
    

}
.img-height-width{
    height: 450px;
    width: 250px;
}
.gezi h2{
    color: burlywood;
    
}
.img-radi-0{
    border-radius: 0% !important;
    object-fit: cover !important;
    
    
}
.gezi-card{
    border-right: none;
    border-left: none;
}
/*şehrim kısmı bitiş*/

/*TAKIMIM KISMI BAŞLANGIÇ*/
.cizgi{
    border:none;
    border-top:3px solid rgb(255, 0, 0);
    max-width: 1000px;
    margin: 25px auto;

}
.cizgi-buyuk{
    border:none;
    border-top:3px solid rgb(255, 0, 0);
    width: auto;
    margin: 25px auto;

}
.ibeyaz{
    color: rgb(255, 0, 0);
    position: relative;
    top: -55px;
    left: 630px;
    font-size: 40px;
    

}
.img-height-width{
    height: 450px;
    width: 250px;
}
.gezi h2{
    color: burlywood;
    
}
.img-radi-0{
    border-radius: 0% !important;
    object-fit: cover !important;
    
    
}
.gezi-card{
    border-right: none;
    border-left: none;
}

.takimim-kismi{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6) ), url(images/eses.jpg);
    height: 500vh;
    width: 100%;
    
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.takimim-hakkinda h2{
    color: burlywood;
}
.takim-tanitim .card{
    border: none;
}
.takim-tanitim div iframe:hover{    
    transform: scale(0.9);
}
.takim-tanitim div iframe{
    transition: 0.5s;
}
.takim-tanitim .card-body h2{
    color: burlywood;
}
/*TAKIMIM KISMI BİTİŞ*/